<div class="row justify-content-center align-items-center p-4" >
  <div class="intro">
      <div class="container">
          <i class='fas fa-quote-left' style='font-size:30px;'></i>
          <div style="margin-left: 30px;">
              <div class="row">
                <div class="col-sm-2">
                    <i class="fas fa-dice" style='font-size:112px;'></i>
                </div>
                <div class="col-sm-10" >
                  <h1 style="font-family: 'Baloo Bhai', cursive;" >Machine Learning,</h1>
                  <h2>{{ site.data.introduction.name }}</h2>
                  <p>{{ site.data.introduction.description }}</p>
                  <a href="inspiration-quotes/" class="m-1 btn btn-outline-dark btn-md">Inspiration Quotes</i></a>
                  <a href="{{site.data.introduction.letsgo}}" class="m-1 btn btn-primary btn-md" btn-md">Let start <i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
          </div>
      </div>
    </div>
</div>

