<div class="row justify-content-center align-items-center">
  <div class="intro">
      <div class="container">
        <section class="header-landing">
          <div class="header-landing-colophon">
            <div class="tagline">
              <i class="fas fa-terminal"></i> Thinking <span style="color: black;"> <i class="fas fa-terminal"></i> Learner </span> <i class="fas fa-terminal"></i>  Developer 
            </div>
            <div class="v-social">
              <a href="#0" class="social-twitter" data-toggle="tooltip" data-placement="right" title="Twitter" target="_blank">
                <title>twitter</title>
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#0" class="social-facebook" data-toggle="tooltip" data-placement="right" title="Facebook" target="_blank">
                <title>Facebook</title>
                <i class="fab fa-facebook"></i>
              </a>
              <a href="#0" class="social-mail" data-toggle="tooltip" data-placement="right" title="Gmail" target="_blank">
                <title>email</title>
                <i class="fas fa-envelope"></i>
              </a>
              <a href="#0" class="social-github" data-toggle="tooltip" data-placement="right" title="GitHub" target="_blank">
                <title>github</title>
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
    
          <div class="header-title">
            <header class="header-title-info info">
              <h2>
                Hi, I am <br>Rabi Shankar <!--There's beauty<br>in simplicity | If you want it, work for it  | Impossible is for the unwilling  | Stay foolish to stay sane | Take the risk or lose the chance-->
              </h2>
            </header>
            <div class="header-title-sub">
            <!--- Whatever problem it may be we <a href="https://en.wikipedia.org/wiki/Computer_engineering" target="_blank" data-toggle="tooltip" title="Focuses on the design and development of computer hardware & software systems"><b>Engineer</b></a> either win or learn from it, we never lose.---> 
            I am a person who is positive about every aspect of life.
            </div>
      <div class="header-resume-btn">
        <a href="https://rabi-shankar.github.io/resume/" class="button">resume</a> 
      </div>
    </div>
    <div class="header-slideshow">
      <img src="https://www.kindpng.com/picc/b/428-4286161_may-flowers-png.png" alt="">
    </div>
  </section>
</div>
</div>
</div>

