.quote_text {
  position: relative;
} 

.quote_by {
  font-family: 'Caveat', cursive;
  font-size: 18px;
}

.quote_text_postion {
  position: relative;
  color: #007bff;
} 
.quote_text2 {
  font-family: 'Caveat', cursive;
  font-size: 20px;
} 
.quote_by2 {
  font-size: 18px;
  color: #000;
}